<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sam Roberts' Website</title>
</head>
<body>
    <h1>Welcome To Samuel Roberts' Portfolio Website!</h1>
    <h3>What do you want to do?</h3>

    <div>
        <h3>Generate a random password</h3>
        <form action="/password" method="get">
            <input 
                autocomplete="off" 
                autofocus 
                name="password_length" 
                placeholder="How long should the password be?" 
                type="number" 
                min="1" 
                max="20"
                style="width: 300px; height: 30px; font-size: 16px; padding: 5px;"
            >
            <button type="submit" style="font-size: 16px; padding: 5px 10px;">Generate Random Password</button>
        </form>
    </div>

    <div>
        <h3>Generate a random joke from the following categories</h3>
        <ol>
            <li>Programming</li>
            <li>Miscellaneous</li>
            <li>Dark</li>
            <li>Pun</li>
            <li>Any</li>
        </ol>
        <form action="/joke" method="get">
            <input 
                autocomplete="off" 
                autofocus 
                name="user_category" 
                placeholder="Enter your number for chosen category" 
                type="number" 
                min="1" 
                max="5"
                style="width: 300px; height: 30px; font-size: 16px; padding: 5px;"
            >
            <button type="submit" style="font-size: 16px; padding: 5px 10px;">Generate Random Joke</button>
        </form>
    </div>

</body>
</html>
